/* Navigation Bar */

nav .nav-holder {
    cursor: pointer;
    left: 105%;
    top: 50%;
}

nav i {
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

nav ul li a:hover {
    color: red;
}

/* End of nav bar */


/* Home */

#home {
    background-image: linear-gradient(rgba(214, 46, 51 , 0.6), rgba(214, 46, 51 , 0.6)), url(../images/events-heavenly-header.jpg);
    background-position: center;
    background-size: cover;
}

/* End of Home Section */


/* Singers */

#singers .singer-name {
    background-color: rgba(214, 46, 51 , 0.6);
    cursor: pointer;
}

#singers .singer-quote {
    background-color: #ccc;
}

/* End of Singers Section */


/* Invitation */

#invitation {
    background-image: linear-gradient(rgba(214, 46, 51 , 0.6), rgba(214, 46, 51 , 0.6)), url(../images/invitation-2508607__340.jpg);
    background-position: center;
    background-size: cover;
}

#invitation .item {
    border: 1px solid white;
}

/* End of Invitation Section */


/* Contact */

#contact .contact textarea {
    resize: none;
}

/* End of Contact Section */